<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'dbname'   => 'application',
                    'user'     => 'application',
                    'password' => 'application',
                ],
            ],
        ],
    ],
];
